/* --- GENERIC --- */

body { margin : 0 }

hr { color: black; height: 1px; clear:both; margin: 2px 0px 2px ; }

.red, a.red { color: red !important; }

/* --- MASTHEAD --- */

.blue {
	font-family : Verdana, sans-serif;
	font-size : 30px;
	font-weight : bold;
	padding : 3px 0px 3px 15px;
	background-color: #227;
	border-top : 2px solid black;
	border-bottom : 2px solid black;
	width : 100%;
	color : #fff;
	letter-spacing: 0.1em ;
	margin-top : 5px;
}

.black {
	font-family : Verdana, sans-serif;
	font-size : 12px;
	padding : 3px 15px 3px 15px;
	background-color: #000;
	width : 100%;
	color : #fff;
	letter-spacing: 0.1em ;
	margin-top : 5px

}

/* --- NAVIGATION --- */

.navDiv {
	color : #999999;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size : 12px;
	margin-left : 12px;
	LEFT: 12px; WIDTH: 125px;
}

.navDiv p { margin-bottom : 12px; margin-top : 6px;}

p.navButts {
	color : #000000;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin-bottom : 2px;
	margin-top : 2px
}

p.navButtsRed {
	color : #c00;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin-bottom : 2px;
	margin-top : 2px
}

.navButts a {
	background-color : #fff;
	border : 1px solid #000;
	color : #000;
	display : block;
	padding-bottom : 1px;
	padding-left : 12px;
	margin-top : 5px;
	text-decoration : none;
	width : 100%
}

.navButtsRed a {
	background-color : #fff;
	border : 1px solid #c00;
	color : #000;
	display : block;
	padding-bottom : 1px;
	padding-left : 12px;
	margin-top : 5px;
	text-decoration : none;
	width : 100%
}

.navButts a:hover {
	background-color : #227;
	border : 1px solid #000;
	color : #ffffff;
	text-decoration : none
}

.navButtsRed a:hover {
	background-color : #c00;
	border : 1px solid #000;
	color : #fff;
	text-decoration : none
}

p.navSubs {
	color : #333333;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin-bottom : 2px;
	margin-left : 0px;
	margin-top : 0px
}

.navSubs a {
	background-color : #FFFFFF;
	color : #333333;
	display : block;
	padding-left : 10px;
	text-decoration : none;
	width : 100%
}

.navSubs a:hover {
	background-color : #F4F4F4;
	color : #999999;
	text-decoration : none
}

p.navViz {
	color : #333333;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	margin-bottom : 2px;
	margin-top : 2px
}

.navViz a {
	background-color : #030;
	border : 1px solid Black;
	color : #FFFFFF;
	display : block;
	padding-bottom : 1px;
	padding-left : 12px;
	padding-top : 1px;
	text-decoration : none;
	width : 100%
}

/* --- CONTENT --- */

.maindiv {
	border-left : 1px solid #227;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size : 12px;
	padding-left : 10px;
	padding-right : 10px;
	padding-bottom : 10px;
	position: absolute;
	left: 160px; 
	width: 610px;
	top: 185px;
	color: black;
}

.maindiv a:link {
	color : #227;
}
.maindiv a:visited {
	color : #007;
}
.maindiv a:hover {
	color : #007;
	text-decoration: none;
}

.maindiv p { line-height : 180%; margin-top : 6px; text-align : justify; }

.maindiv h1 {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	margin-bottom : 12px;
	margin-top : 0px
}

.maindiv h2 {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 16px;
	margin-bottom : 12px;
	margin-top : 30px
}

a img { border: 0px ; }

dt { margin-top: 7px; margin-bottom: 1px; }

/* --- SPECIAL --- */

.bod {
	border: 1px solid #000;
	margin: 3px 10px 5px 0px ;
	float: left;
	clear: left;
}

.block {
	width: 100%;
	clear: both;
}

.logo {
	text-align : center;
	padding-top: 15px;
}

.paw {
	vertical-align : middle;
}

.outdated {
	color: #bbb ;
}

.urgent {
	color: #c00 ;
	border: 1px #c00 solid ;
	padding: 0 1em 0 ;
}

.urgent p a {
	color: #doo ;
}

acronym.mail {
	color : #227;
	cursor : help ;
	text-decoration : underline ;
}

/* --- FORM --- */

label,input,textarea {
	display: block;
	float: left;
	margin-bottom: 10px;
	margin-right: 17px;
}

label {
	text-align: right;
	width: 100px;
}

br {
	clear: left;
}

/* --- PHOTOS --- */

.photo_gallery_box {
	text-align: left;
	padding: 24px;
	margin-bottom: 24px;
	border: 1px dotted #bbb;
}

.photo_gallery_box img { margin: 12px; }